/*Botão Seta*/
.Sair {
    width: 50px;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;
}

/*Lista*/
ul {
    list-style-image: url("Imagens/queijo.png");
    margin-left: 39%;
    margin-top: -3%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: letf;
    color: #ffe500;
}

/*Imagem Texto Realizado por*/
.group {
    width: 50%;
    height: 50%;
    margin-left: 20%;
    margin-top: 2%;
}

/*Gif Rato*/
.rato {
    position: absolute;
    left: 65%;
    top: 81%
}