/*Botão Seta*/
.Sair {
    width: 50px;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;
}

/*Lista*/
ul {
    list-style-image: url("Imagens/queijo.png");
    width: 50%;
    height: 50%;
    margin-left: 42%;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: letf;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    color: #FFE600
}

/*Imagem Texto Realizado por*/
.group {
    margin-left: 28%;
    margin-top: 2%;
}

/*Gif Rato*/
.rato{
    margin-left: 50%;
}

