.bloco1{
    position: absolute;
    left: 30%;
	top: 8%;
}

.bloco2{
    position: absolute;
    left: 37%;
	top: 8%;
}

.bloco3{
    position: absolute;
    left: 44%;
	top: 8%;
}

.bloco4{
    position: absolute;
    left: 51%;
	top: 8%;
}

.bloco5{
    position: absolute;
    left: 58%;
	top: 8%;
}

.bloco6{
    position: absolute;
    left: 65%;
	top: 8%;
}


.bloco7{
    position: absolute;
    left: 65%;
    top:22%;
}

.bloco8{
    position: absolute;
    left: 65%;
    top:36%;
}

.bloco9{
    position: absolute;
    left: 65%;
    top:50%;
}

.bloco10{
    position: absolute;
    left: 65%;
    top:64%;
}

.bloco11{
    position: absolute;
    left: 65%;
    top:78%;
}

.bloco12{
    position: absolute;
    left: 58%;
    top:78%;
}

.bloco13{
    position: absolute;
    left: 51%;
    top:78%;
}

.bloco14{
    position: absolute;
    left: 44%;
    top:78%;
}

.bloco15{
    position: absolute;
    left: 37%;
    top:78%;
}

.bloco16{
    position: absolute;
    left: 30%;
    top:78%;
}

.bloco17{
    position: absolute;
    left: 30%;
    top:64%;
}

.bloco18{
    position: absolute;
    left: 30%;
    top:50%;
}

.bloco19{
    position: absolute;
    left: 30%;
    top:36%;
}

.bloco20{
    position: absolute;
    left: 30%;
    top:22%;
}
